<% provide(:title, (t ".title")) %>
<h1><%= t ".title" %></h1>
<p>
  <%= t ".instruction" %>
  <a href="http://www.railstutorial.org/contact"><%= t ".page" %></a>.
</p>
<%= link_to (t "layout.english"), locale:"en" %>
<%= link_to (t "layout.vietnam"), locale:"vi" %>
